<mat-toolbar class="mat-elevation-z4">
    <button mat-button matTooltip="text">CombatTracker</button>
</mat-toolbar>
<div id="content">
    <div id="master"  class="mat-elevation-z2">
        <mat-toolbar>
            Stuff
        </mat-toolbar>
        <mat-tab-group>
            <mat-tab label="Encounters">
                <encounter-list></encounter-list>
            </mat-tab>
            <mat-tab label="Tab3"></mat-tab>
            <mat-tab label="TabTabHeader3"></mat-tab>
        </mat-tab-group>
    </div>
</div>